/* Reset de estilos e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    font-family: 'Roboto', sans-serif;
}

.mobile-container{
    display: none;
}



/* Estilos para o fundo de estrelas */
.bg {
    background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

.bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
}

/* Efeitos de paralaxe nas estrelas */
@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}

.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}

.star-field .layer {
    /* Estilos para as estrelas (pode personalizar isso) */
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
        524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
        440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
        -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
        828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
        563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
        -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}

.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
}

.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
}

.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}

/* Efeito de paralaxe para todas as estrelas */
.star-field .layer {
    animation: sf-fly-by-1 5s linear infinite;
}

.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
}

.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}


/* Estilos para o cabeçalho */
header {
    background: #000000;
    color: #fff;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
}

header .logo {
    font-size: 24px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-right: 20px;
    font-size: 22px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header ul li a:hover {
    text-decoration: none;
    color: #0cb0ec;
}

/* Estilos para a seção de banner */
.banner {
    text-align: center;
    padding: 100px 0;
    color: #fff;
    background: none; /* Removido o fundo do banner para exibir o fundo de estrelas */
}

/* Estilos para a seção de informações */
.informacoes {
    background: #f0f0f000;
    padding: 40px 0;
}

.informacoes h2 {
    font-size: 24px;
    color: white;
  
}

.informacoes p {
    margin: 20px 0;
    color: white;
}

/* Estilos para o rodapé */
footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999; /* Para garantir que fique acima do conteúdo */
}

.custom-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Adicionando centralização horizontal e vertical */
    text-align: center;
    height: 85vh; /* Tornando a seção em tela cheia */
}


.image-container {
    flex: 2;
}

.image-container img {
    max-width: 70%;
    height: auto;
    margin-left: 200px;

}

.text-container {
    color: white;
    flex: 2;
    margin-right: 300px;
    
}

.text-container h2 {
    color: white;
    font-size: 45px;
}

.text-container p {
    font-size: 25px;
    color: white;
}


/* Estilos para a segunda seção rolável */
.scroll-section {
    color: #0077b6;
    width: 100vh;
    height: 100vh; /* Torna a seção em tela cheia */
    background: #b1969600;
    text-align: center;
    padding: 40px 0;

}
.botoes{
    gap: 30px;
}
.botoes button{
    font-size: 17px;
    margin-top: 20px;
    background-color: rgb(5, 72, 255);
    border: 0px;
    border-radius: 10px;
    width: 250px;
    height: 36px;
    cursor: pointer;
    color: white;
}

.botoes button:hover{
    color: white;
    background-color: rgb(5, 113, 255);
    border: 0px;
    border-radius: 10px;
    width: 250px;
    height: 36px;
    cursor: pointer;
}

/* Adicione um estilo inicial ao elemento */
#color-changing-text {
    animation: changeColor 5s linear infinite; /* Inicia a animação */
  }
  
  /* Defina a animação para mudar a cor a cada 5 segundos (5000ms) */
  @keyframes changeColor {
    0% {
      color: rgb(0, 166, 255); /* Vermelho */
    }
    25% {
      color: rgb(0, 98, 255); /* Verde */
    }
    50% {
      color: rgb(0, 60, 255); /* Azul */
    }
    75% {
      color: rgb(0, 115, 255); /* Amarelo */
    }
    100% {
      color: rgb(64, 0, 255); /* Magenta */
    }

    0% {
        color: rgb(0, 166, 255); /* Vermelho */
      }
  }
  


/* Estilos para tornar a página responsiva */
@media (max-width: 768px) {

    .logo{
        display: none;
    }

    .topnav {
        overflow: hidden;
        background-color: #0030b4;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      body {
        font-family: 'Roboto', sans-serif;
      }		
      
      .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #55555500;
        height: auto;
        color: white;
        border-radius: 10px;
        display: block;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: rgb(245, 244, 244);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: rgb(247, 240, 240);
      }
      
      .active {
        background-color: #000000;
        color: white;
      }

    header{
        display: none;
    }

    .banner {
        padding: 40px 0; /* Reduza o espaço no banner para telas menores */
    }

    .informacoes {
        padding: 20px 0; /* Reduza o espaço na seção de informações */
    }

    footer {
        text-align: center;
    }

    /* Modifique a seção custom para uma altura relativa e ajuste as margens */
    .custom-section {
        flex-direction: column; /* Empilhe elementos em telas menores */
        height: auto; /* Use altura automática para conteúdo responsivo */
        text-align: center;
    }

    .image-container,
    .text-container {
        margin: 20px 0; /* Adicione margem superior e inferior para espaçamento */
        max-width: 100%; /* Ajuste a largura máxima para prevenir estouro de conteúdo */
    }

    .image-container img {
        max-width: 100%;
        height: auto;
        margin: 0; /* Remova a margem esquerda */
    }

    .text-container h2 {
        font-size: 30px; /* Reduza o tamanho da fonte para telas menores */
    }

    .text-container p {
        font-size: 18px; /* Reduza o tamanho da fonte para telas menores */
    }

    /* Ajuste a seção rolável para ocupar 100% da largura e altura */
    .scroll-section {
        background: #b19696; /* Defina a cor de fundo para esta seção */
        padding: 20px 0; /* Reduza o espaço na seção rolável */
    }

    #color-changing-text {
        animation: changeColor 5s linear infinite; /* Inicia a animação */
      }
      
      /* Defina a animação para mudar a cor a cada 5 segundos (5000ms) */
      @keyframes changeColor {
        0% {
            color: rgb(0, 166, 255); /* Vermelho */
          }
          25% {
            color: rgb(0, 98, 255); /* Verde */
          }
          50% {
            color: rgb(0, 60, 255); /* Azul */
          }
          75% {
            color: rgb(0, 115, 255); /* Amarelo */
          }
          100% {
            color: rgb(64, 0, 255); /* Magenta */
          }
      }
      
}