/* Reset de estilos e configurações gerais */
* {
    margin: 0;
    padding: 0;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

/* Estilos para o cabeçalho */
header {
    background: #00141f;
    color: #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 020px;
}

header .logo {
    display: flex;
    gap: 30px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para o rodapé */
footer {
    background: #00141f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}


h1 {
    text-align: center;
    margin-top: 50px;
}

/* Estilos para o formulário de adicionar uma nova nota */
form {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input{
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(7, 0, 0, 0.2);
}

textarea {
    width: auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li{
    width: 450px;
    display: flex;
    align-items: center;
}

.titulo{
    margin-left: 30px;
}

/* Estilos para a lista de notas existentes */
ul .nota-item{
    list-style: none;
    padding: 0;
    text-align: center; /* Adicione esta linha para centralizar a lista */
}

.nota-item {
    /* Remova a largura fixa para permitir que a lista se ajuste automaticamente */
    background-color: #fff;
    padding: 10px;
    margin: 10px auto; /* Altere a margem para "auto" para centralizar horizontalmente */
    border: 1px solid #f3f0f0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}


.editar-button,
.excluir-button {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.botoes{
 margin-left: auto;
 margin-right: 10px;
 margin-bottom: 10px;
}

/* Ocultar o conteúdo da nota por padrão */
span[id^="nota_"] {
    display: none;
}

/* Estilizar o botão de edição quando a nota está em foco */
.nota-item:focus .editar-button {
    background-color: #007bff;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 80%;
  }
  
  .close {
    color: #888;
    float: right;
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Estilos para o textarea dentro do modal */
  #modal-textarea {
    width: 1000px; /* Defina o tamanho fixo desejado */
    height: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui a largura da borda e do preenchimento no tamanho total */
    display: flex;
}
  /* Estilos para o botão "Salvar" dentro do modal */
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  

    /* Estilos para o campo de edição de nota */
    input[type="hidden"] {
        display: none;
    }