/* Reset de estilos e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
header {
    background: #000000;
    color: #fff;
    padding: 20px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}

header .logo {
    display: flex;
    gap: 200px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header ul li a:hover {
    text-decoration: none;
    color: rgb(37, 178, 197);
}

.grid-container {
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; /* Aumentei o espaçamento entre os cards */
    margin-bottom: 50px;
    margin-top: 50px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.card-top {
    height: 20px; /* Ajuste a altura conforme desejado */
    background-color: #3498db; /* Cor desejada */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.card h3 {
    margin-top: 15px; /* Adicione uma margem superior ao título */
    margin-bottom: 10px;
}

.card p {
    margin-top: 10px; /* Adicione uma margem superior ao parágrafo */
    margin-bottom: 0;
}


/* Estilos para o rodapé */
footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}